<li><%= link_to "古い順" , "/users/#{@user.id}/turbo_stream_show/2?page=#{@page}" , data: {turbo_stream: true } , class: "dropdown-item" %></li>
<li><%= link_to "新しい順" , "/users/#{@user.id}/turbo_stream_show/1?page=#{@page}" , data: {turbo_stream: true } , class: "dropdown-item" %></li>
<li><%= link_to "いいね順" , "/users/#{@user.id}/turbo_stream_show/3?page=#{@page}" , data: {turbo_stream: true } , class: "dropdown-item" %></li>