<li><%= link_to "作成日順(昇順)" , "/users/#{@user.id}/turbo_stream_show/2" , data: {turbo_stream: true } , class: "dropdown-item" %></li>
<li><%= link_to "作成日順(降順)" , "/users/#{@user.id}/turbo_stream_show/1" , data: {turbo_stream: true } , class: "dropdown-item" %></li>
<li><%= link_to "いいね順" , "/users/#{@user.id}/turbo_stream_show/3" , data: {turbo_stream: true } , class: "dropdown-item" %></li>