<h1>Search Booksへようこそ!!!</h1>
<p><%= @user.name %>さん、こんにちは</p>
<p>仮登録が完了しました! 本登録をするには下のリンクからアカウントの有効化を行ってください</p>
<%= link_to "アカウントの有効化" , edit_account_activation_url(@user.activation_token , email: @user.email) %>