<% provide(:titel , "アカウント設定") %>
<h1 class = "new-title">アカウント設定</h1>
<section class="form">
    <%= render 'form' %>
    <section class="info">
        <p>*入力欄には<span style="color: red">全角スペース</span>は入力しないでください</p>
        <p>*パスワードには<span style="color: red">日本語</span>は入力しないでください</p>
    </section>
</section>