<% provide(:title, @title) %>
<h1 class = "new-title"><%= @title %></h1>
<%= paginate @users, theme: "bootstrap-5" %>
<ul class="users">
    <!-- 下のように書くと@usersの中にある各要素に対して_user.html.erbのテンプレートで結果を出力する -->
    <%= render @users %>
</ul>
<%= link_to "プロフィールに戻る" , "/users/#{@user.id}/1" , class: "back-btn" %>