<% provide(:title , "#{@user.name}さんのプロフィール") %>
<% if @episode.nil? %>
  <div class="no_profile">
    <div>
      <% if current_user?(@user) %>
        <p>*エピソードが未設定です。以下のボタンからエピソードの設定を行ってください</p>
        <%= link_to "エピソード設定" , "/episodes/new" , class: "account-profile" %>
      <% else %>
        <p>*エピソードが未設定です</p>
        <%= link_to "戻る" , "/users/#{@user.id}/1" , class: "account-profile" , style: "margin-top: 5rem" %>
      <% end %>
    </div>
  </div>
<% else %>
  <!-- renderヘルパーでは指定したパスにあるパーシャルをレンダリングする -->
  <%= render 'episodes/view_episode' , locals: { redirect_path: @redirect_path } %>
  <!-- 文字列を比較して単純に一致するかどうかを判定したい場合にはmatch?メソッドの方が高速に動作する -->
  <!-- &.を用いることで@reditect_pathがnilであった場合でもエラーを発生させずnilを返すことができる -->
  <% if @redirect_path&.match?('/episodes/index') %>
    <%= link_to "エピソード一覧に戻る" , @redirect_path , class: "episode-back-btn" %>
  <% end %>
<% end %>