<li><%= link_to "作成日順(昇順)" , "/posts/turbo_stream_feed/2" ,data: {turbo_stream: true} , class: "dropdown-item" %></li>
<li><%= link_to "作成日順(降順)" , "/posts/turbo_stream_feed/1" ,data: {turbo_stream: true} , class: "dropdown-item" %></li>
<li><%= link_to "いいね順" , "/posts/turbo_stream_feed/3" , data: {turbo_stream: true} ,class: "dropdown-item" %></li>