<li><%= link_to "作成日順(昇順)" , "/posts/#{current_user.id}/turbo_stream_my_goods/2" ,data: {turbo_stream: true} , class: "dropdown-item" %></li>
<li><%= link_to "作成日順(降順)" , "/posts/#{current_user.id}/turbo_stream_my_goods/1" ,data: {turbo_stream: true} , class: "dropdown-item" %></li>
<li><%= link_to "いいね順" , "/posts/#{current_user.id}/turbo_stream_my_goods/3" , data: {turbo_stream: true} ,class: "dropdown-item" %></li>