/* アプリ画面のヘッダー部分のスタイル */
.logo-image {
    width: 40px;
    height: 40px;
}

.humburger-image {
    width: 50px;
    height: 50px;
    display: none;
}

.common-header {
    width: 100%;
    height: 100px;
    background-color: #D7DCD8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

.logo-title {
    color: #484a4f;
    font-family: "Pacifico", cursive;
    letter-spacing: 1.2px;
    font-weight: 600;
    font-size: 48px;
    text-shadow: -6px 6px 8px rgba(51, 51, 51, 0.781);
    letter-spacing: 0.5rem;
    margin-left: 2rem;

    &:hover {
        text-decoration: none;
        color: #484a4f;
    }
}

.header-nav {
    a {
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }
    }
}

.add-result {
    width: 100%;
    margin: 2rem auto;
    font-family: "Bodoni Moda SC", serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    color: rgb(235, 96, 96);
}

/* ここにスマホ、タブレットのサイズでのヘッダー部分のレイアウトを書く */
@media(max-width: 800px) {
    .logo-title {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: #484a4f;
        letter-spacing: 1.2;
        font-weight: 600;
        font-size: 42px;
        text-shadow: -4px 6px 6px rgba(51, 51, 51, 0.781);

        &:hover {
            text-decoration: none;
            color: #484a4f;
        }
    }

    .header-nav {
        position: absolute;
        top: .8rem;
        right: 1.5rem;

        a {
            display: none;
        }
    }

    .humburger-image {
        width: 60px;
        height: 60px;
        display: inline;
    }

    /* サイドバーのスタイル */
    .sidebar {
        background-color: rgb(86, 82, 82);
        position: absolute;
        top: 100px;
        right: 0;
        width: 20rem;
        height: 90%;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;

        ul {
            margin-top: 3rem;
            padding: 2rem;
            list-style: none;

            li {
                text-align: center;
                margin-bottom: 2rem;

                li:not(:last-child) {
                    opacity: 0;
                    visibility: hidden;
                    translate: 100vw;
                }


                a {
                    color: white;
                    font-size: 1.8rem;
                    font-family: "Bodoni Moda SC", serif;
                    border-bottom: 1.2px solid white;

                    &:hover {
                        color: white;
                        text-decoration: none;
                        font-size: 2rem;
                    }

                }


            }
        }
    }

}

@media(min-width: 800px) {
    .sidebar {
        display: none;
    }
}



/* アプリのフッター部分のレイアウト */
.common-footer {
    width: 100%;
    height: 66px;
    padding: 1.6rem;
    background-color: #d7dcd8;
}

.copyrights {
    color: #484a4f;
    font-size: 20px;
    font-family: "Prociono", serif;
    text-align: center;
}

@media(max-width: 800px) {
    .common-footer {
        margin-top: 2rem;
    }
}