@import "bootstrap-sprockets";
@import "bootstrap";

/* --------------------------------ここからホームページのスタイルのスタイル------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.container {
    margin: 0
}

/*---------------header部分のスタイル-----------*/
.app-header {
    width: 100%;
    height: 950px;
    background-image: url("header.jpg");
    background-size: cover;
    position: relative;
}

.header-nav {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    margin-top: 1rem;
    margin-right: 1rem;

    li {
        display: inline;

        &:first-child {
            margin-right: 1rem
        }
    }

    a {
        color: white;
        font-size: 2.8rem;
        font-weight: bold;
        font-family: "Oswald", sans-serif;
        text-decoration: none;

        &:hover {
            text-decoration: underline;
        }
    }
}

.header-h1 {
    position: absolute;
    top: 18rem;
    right: 3.5rem;
    color: white;
    font-size: 10rem;
    font-family: "Oswald", sans-serif;
    text-shadow: -8px 12px 8px rgb(62, 59, 59);
}

.sub-title {
    position: absolute;
    top: 60rem;
    right: 15rem;
    width: 20rem;
}

#header-h2 {
    color: white;
    font-size: 2.5rem;
    font-family: "Lora", serif;
    opacity: 0;

    &:nth-child(2) {
        margin-top: 6rem;
        margin-left: 7rem;
    }
}


/*-------------------------------main部分のスタイル------------------------------------*/

/*search booksについてのスタイル*/
.about-container {
    width: 100%;
    height: 300px;
    margin-top: 15rem;
    display: flex;
    justify-content: space-around;
}

.about-text {
    width: 500px;
    padding: 1rem;
    position: relative;
    opacity: 0;
    translate: 0 -5rem;
    filter: blur(20px);
}

.about-title {
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 3rem;
    margin-top: 2rem;
}

.about-content {
    text-align: center;
    font-family: "Bodoni Moda SC", serif;
    font-size: 2.5rem;
    margin-top: 3rem;
    line-height: 1.7;
}

.about-picture {
    width: 500px;
    translate: 0 5rem;
    opacity: 0;
    filter: blur(25px);

}

.about-img {
    width: 500px;
    box-shadow: 10px 6px 6px rgb(181, 179, 179);
}

/*featureについてのスタイル*/
.feature-container {
    width: 100%;
    height: 700px;
    margin-top: 20rem;
    padding-top: 2rem;
    background-image: url("feature.jpg");
    background-size: cover;
    position: relative;
}

.feature-h1 {
    text-align: center;
    font-family: "Baskervville SC", serif;
    font-size: 6rem;
}

.feature-img {
    width: 250px;
    height: 250px;
    position: absolute;
    top: 20rem;
    left: 50rem;
}

.response,
.information,
.custom,
.intuitiveness {
    width: 270px;
    height: 270px;
    font-family: "Bodoni Moda SC", serif;
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: absolute;
}

.response {
    background-color: #f16b6b;
    top: 7rem;
    right: 10rem
}

.information {
    background-color: rgb(73, 123, 224);
    top: 30rem;
    right: 13rem
}

.custom {
    background-color: rgb(222, 222, 79);
    top: 12rem;
    left: 9rem;
}

.intuitiveness {
    background-color: rgb(51, 160, 51);
    top: 36rem;
    left: 20rem;
}

/*ここから下はアプリ開始の画面のスタイル*/
.appStart-container {
    margin-top: 10rem;
    position: relative;
}

.appStart-p,
.arrow-p {
    text-align: center;
    font-family: "Bodoni Moda SC", serif;
    font-size: 3rem;
    font-weight: 500;
}

.appStart-img {
    width: 150px;
    height: 150px;
    position: absolute;
    top: 11rem;
    left: 55.5rem;
    translate: 100vw 0;
    opacity: 0;
    transition: 1;

    &:hover {
        scale: 1.2;
        background-color: rgb(97, 97, 97);
        border-radius: 50%;
    }
}



/*フッター部分のスタイル*/
footer {
    margin-top: 4rem;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #7C7C7C;
    font-size: 2.3rem;
    font-weight: 400;
    color: white;
    padding-top: 4rem;
}

/* miscellaneous */
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
}

/* アプリ画面のヘッダー部分のスタイル */
.logo-image {
    width: 40px;
    height: 40px;
}

.humburger-image {
    width: 50px;
    height: 50px;
    display: none;
}

.common-header {
    width: 100%;
    height: 94px;
    background-color: #D7DCD8;
    position: relative;
}

.logo-title {
    position: absolute;
    top: .8rem;
    left: 1rem;
    color: #484a4f;
    font-family: "Oswald", sans-serif;
    letter-spacing: 1.2px;
    font-weight: 600;
    font-size: 48px;
    text-shadow: -6px 8px 8px rgba(51, 51, 51, 0.781);

    &:hover {
        text-decoration: none;
        color: #484a4f;
    }
}

.header-nav {
    position: absolute;
    top: .8rem;
    right: 1.5rem;

    a {
        margin-right: 1.5rem;

        &:last-child {
            margin-right: 0;
        }
    }
}

/* ここにスマホ、タブレットのサイズでのヘッダー部分のレイアウトを書く */
@media(max-width: 800px) {
    .logo-title {
        position: absolute;
        top: 1rem;
        left: 1rem;
        color: #484a4f;
        font-family: "Oswald", sans-serif;
        letter-spacing: 1.2;
        font-weight: 600;
        font-size: 42px;
        text-shadow: -4px 6px 6px rgba(51, 51, 51, 0.781);

        &:hover {
            text-decoration: none;
            color: #484a4f;
        }
    }

    .header-nav {
        position: absolute;
        top: .8rem;
        right: 1.5rem;

        a {
            display: none;
        }
    }

    .humburger-image {
        width: 60px;
        height: 60px;
        display: inline;
    }

    /* サイドバーのスタイル */
    .sidebar {
        background-color: rgb(86, 82, 82);
        position: absolute;
        top: 94px;
        right: 0;
        width: 20rem;
        height: 90%;
        z-index: 9999;
        opacity: 0;
        visibility: hidden;

        ul {
            margin-top: 3rem;
            padding: 2rem;
            list-style: none;

            li {
                text-align: center;
                margin-bottom: 2rem;

                li:not(:last-child) {
                    opacity: 0;
                    visibility: hidden;
                    translate: 100vw;
                }


                a {
                    color: white;
                    font-size: 1.8rem;
                    font-family: "Bodoni Moda SC", serif;
                    border-bottom: 1.2px solid white;

                    &:hover {
                        color: white;
                        text-decoration: none;
                        font-size: 2rem;
                    }

                }


            }
        }
    }

}

@media(min-width: 800px) {
    .sidebar {
        display: none;
    }
}



/* アプリのフッター部分のレイアウト */
.common-footer {
    width: 100%;
    height: 66px;
    padding: 1.6rem;
    background-color: #d7dcd8;
}

.copyrights {
    color: #484a4f;
    font-size: 20px;
    font-family: "Prociono", serif;
    text-align: center;
}

@media(max-width: 800px) {
    .common-footer {
        margin-top: 2rem;
    }
}

/* 個別ユーザの表示画面 */
.profile {
    width: 85%;
    margin-top: 5rem;
    margin-left: 10rem;
    padding: 5rem;
    display: flex;
    gap: 5rem;
    background-color: #e7e3d8;
    border-radius: 20px;
    position: relative;
}

.gravatar-img {
    width: 250px;
    height: 250px;
    margin-left: 3rem;
    border-radius: 50%;
    border: 3px solid black;
    z-index: 100;
}

.account-name {
    color: #4b4740;
    font-family: "Caveat", cursive;
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.user-info {
    width: 60%;
    display: flex;
    flex-direction: column;
}

.account-info {
    display: flex;
    justify-content: space-around;
    list-style: none;

    li {
        p {
            font-size: 18px;
            font-weight: 500;
            font-family: "Bodoni Moda SC", serif;

            &:nth-child(2) {
                text-align: center;
                font-family: "Caveat", cursive;
                font-size: 30px;
            }
        }
    }
}

.setting-icon {
    width: 50px;
    height: 50px;
}

.close-icon {
    width: 30px;
    height: 30px;
}

.setting-container {
    margin: 0;
    padding: 1rem;
    position: absolute;
    top: 3rem;
    right: 3rem;
    width: 18rem;
    height: 18rem;
    border-radius: 20px;
    background-color: rgb(86, 84, 79);
    opacity: 0;
    visibility: hidden;
    list-style: none;
    z-index: 200;

    li {
        margin-bottom: 1rem;
        text-align: center;

        &:last-child {
            margin-bottom: 0;
        }

        a {
            font-family: "Bodoni Moda SC", serif;
            font-size: 15px;
            font-weight: 500;
            color: rgb(197, 195, 183);
            border-bottom: 1px solid black;

            &:hover {
                text-decoration: none;
                font-size: 17px;
            }
        }
    }
}

.detele-user {
    position: absolute;
    bottom: 2rem;
    right: 3rem;
    color: red;
    font-family: "Caveat", cursive;
    font-size: 12px;

    &:hover {
        color: red;
        font-size: 15px;

    }
}

/* 要素を表示させるためのクラス */
.active-setting {
    display: block;
}

.border {
    margin-top: 5rem;
    margin-left: 7.5rem;
    width: 90%;
    height: 3px;
    background-image: linear-gradient(to right, #585a5d, rgb(125, 123, 123), #d8d7ce);
}

/* ここにタブレット、スマホサイズの個人ページ画面のスタイル */
@media(max-width: 900px) {
    .profile {
        width: 85%;
        margin: 5rem 3rem 2rem 3rem;
        padding: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 0;
        background-color: #e7e3d8;
        border-radius: 20px;
        position: relative;
    }

    .gravatar-img {
        width: 120px;
        height: 120px;
        margin: auto;
        border-radius: 50%;
        border: 3px solid black;
        z-index: 100;
    }

    .account-name {
        color: #4b4740;
        width: 100%;
        font-family: "Caveat", cursive;
        font-weight: 600;
        font-size: 35px;
        text-align: center;
    }

    .user-info {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .account-info {
        li {
            p {
                font-size: 18px;

                &:nth-child(2) {
                    font-size: 20px;
                }
            }
        }
    }

    .setting-container {
        inset: 30%;
    }

    .border {
        margin: auto;
        width: 90%;
        height: 3px;
        background-image: linear-gradient(to right, #585a5d, rgb(125, 123, 123), #d8d7ce);
    }

}


/* 新規会員登録画面 */
.new-title {
    font-family: "Bodoni Moda SC", serif;
    font-weight: 600;
    letter-spacing: 8px;
    text-align: center;
    margin-top: 3rem;
}

.form {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.new-form {
    display: flex;
    flex-direction: column;
    width: 450px;

    label {
        font-family: "Bodoni Moda SC", serif;
        font-weight: 700;
        margin-bottom: 1rem;
        margin-top: 1rem;

        &:first-child {
            margin-top: 0;
        }
    }

    #user_name,
    #user_email,
    #user_password,
    #user_password_confirmation {
        &:focus {
            outline: none;
        }

        width: 450px;
    }
}

.new-btn {
    width: 150px;
    background-color: rgb(87, 202, 252);
    font-family: "Bodoni Moda SC", serif;
    color: white;
    border-radius: 20px;
    margin-top: 2rem;
    margin-left: 15rem;
}

.info {
    border-left: 2px dashed black;
    padding: 3rem;

    p {
        font-family: "Bodoni Moda SC", serif;
        margin-bottom: 2rem;
        font-size: 18px;
        font-weight: 600;
    }
}


@media(max-width: 800px) {
    .form {
        flex-direction: column;
        align-items: center;
    }

    .new-form {
        border-bottom: 2px dashed black;
        padding-bottom: 2rem;

    }

    .info {
        margin-top: 1.5rem;
        border-left: none;

        p {
            font-size: 15px;
            font-weight: 400;
        }
    }



}

/* forms */
#error_explanation {
    color: red;

    ul {
        color: red;
        margin: 0 0 30px 0;
    }
}

.field_with_errors {
    @extend .has-error;

    .form-control {
        color: $state-danger-text;
    }
}

/* ログインフォーム用のスタイル */

.login {
    margin-top: 5rem;
    margin-left: 20rem;
    display: flex;
    column-gap: 10rem;
}

.login-form {
    width: 450px;

    label {
        font-family: "Bodoni Moda SC", serif;
        font-size: 20px;
        margin-bottom: 1rem;
        margin-top: 1rem;
        display: block;

        &:first-child {
            margin-top: 0;
        }

        &.checkbox_label {
            display: inline !important;
            font-size: 15px;
        }
    }

    #session_email,
    #session_password {
        width: 450px;
        height: 40px;
        margin-bottom: 1.5rem;

        &:focus {
            outline: none;
        }
    }
}

.login-btn {
    width: 150px;
    background-color: rgb(87, 202, 252);
    font-family: "Bodoni Moda SC", serif;
    color: white;
    border-radius: 20px;
    margin-top: 2rem;
    margin-left: 15rem;
}


@media (min-width: 600px) and (max-width: 950px) {
    .login {
        flex-direction: column;
        align-items: center;
        margin-left: 5rem;
    }

    .login-form {
        border-bottom: 2px dashed black;
        padding-bottom: 2rem;

    }


    #session_email,
    #session_password {
        width: 380px;
        height: 36px;
        margin-bottom: 1.5rem;
    }

    .info {
        margin-top: 1.5rem;
        border-left: none;

        p {
            font-size: 17px;
            font-weight: 400;
        }
    }

}

@media(max-width: 600px) {
    .login {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        margin-left: 2rem;

    }

    .login-form {
        margin: auto;
        width: 350px;
        border-bottom: 2px dashed black;
        padding-bottom: 2rem;

        #session_email,
        #session_password {
            width: 350px;
            height: 36px;
        }
    }



    .info {
        margin-top: 1.5rem;
        border-left: none;

        p {
            font-size: 15px;
            font-weight: 400;
        }
    }

}

/* ユーザ一覧画面のスタイリング */

/* ページネーションのスタイル */
nav {
    display: flex;
    justify-content: center;
}

.page-link {
    color: #6b6766 !important;
}

.page-item.active .page-link {
    background-color: white;
    border: 2px solid black;
}

/* ここまで*/
.users {
    border: 8px outset rgb(134, 131, 131);
    width: 95%;
    margin: auto;
    padding: 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 2rem;
    ;

    li {
        margin: auto;
        padding: 1rem;
    }

    a {
        font-family: "Caveat", cursive;
        font-size: 30px;
        color: #4b4740;

        &:hover {
            color: #4b4740;
        }

    }
}

.users-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(99, 93, 93);
}

@media(max-width: 800px) {
    .new-title {
        font-size: 26px;
    }
}

/* パスワード変更用のメールアドレスを送信するためのページ */
.password_reset {
    width: 500px;
    margin: 5rem auto 0 auto;

    label {
        font-family: "Bodoni Moda SC", serif;
        font-weight: 600;
        font-size: 25px;
        display: block;
        margin-bottom: 2rem;
    }

    #password_reset_email {
        width: 500px;
        height: 35px;
        border: 2px solid black;
        display: block;

        &:focus {
            outline: none;
        }
    }

    .reset_btn {
        width: 150px;
        background-color: rgb(87, 202, 252);
        font-family: "Bodoni Moda SC", serif;
        color: white;
        display: block;
        margin: 3rem auto 0 auto ;
        border-radius: 20px;
    }

}

.about {
    margin-top: 4rem;
    font-family: "Bodoni Moda SC", serif;
    font-size: 20px;
    font-weight: 500;
    padding: 2rem;
    border-top: 2px dashed black;
}