@import "bootstrap-sprockets";
@import "bootstrap";

/* ここから下には分割したscssファイルをそれぞれimportする */
@import "introduction";
@import "app_header";
@import "show_user_page";
@import "form";
@import "search";
@import "my_shelf";



/* --------------------------------ここからホームページのスタイルのスタイル------------------------------------- */

html {
    scroll-behavior: smooth;
}

body {
    overflow-x: hidden;
}

.container {
    margin: 0
}

/*フッター部分のスタイル*/
footer {
    margin-top: 4rem;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #7C7C7C;
    font-size: 2.3rem;
    font-weight: 400;
    color: white;
    padding-top: 4rem;
}

/* miscellaneous */
.debug_dump {
    clear: both;
    float: left;
    width: 100%;
    margin-top: 45px;
}

/* ページネーションのスタイル */
nav {
    display: flex;
    justify-content: center;
}

.page-link {
    color: #6b6766 !important;
}

.page-item.active .page-link {
    background-color: white;
    border: 2px solid black;
}

/* ここまで*/

.users {
    border: 8px outset rgb(134, 131, 131);
    width: 95%;
    margin: auto;
    padding: 2rem;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    row-gap: 2rem;

    li {
        margin: auto;
        padding: 1rem;
    }

    a {
        font-family: "Caveat", cursive;
        font-size: 30px;
        color: #4b4740;

        &:hover {
            color: #4b4740;
        }

    }
}

.users-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid rgb(99, 93, 93);
}

@media(max-width: 800px) {
    .new-title {
        font-size: 26px;
    }
}


/*ここから下はフッター部分のスタイル*/
footer {
    margin-top: 20rem;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: #7C7C7C;
    font-size: 1.3rem;
    font-weight: 400;
    color: white;
    padding-top: 2rem;
}

/* プロフィール一覧のスタイル */
.view-episode-container {
    width: 95%;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: start;

    .episodes-container {
        width: 70%;
        border: 3px outset rgba(100, 96, 96, 0.897);
        background-color: #e2dbd6;
        border-radius: 10px;
        overflow-x: hidden;
        overflow-y: scroll;
        scrollbar-width: none;
        gap: 1rem;

        /* Firefox */
        &::-webkit-scrollbar {
            display: none;
        }

        .no-result {
            margin: 3rem;
            width: 100%;
            display: grid;
            place-items: center;

            p {
                font-family: "Bodoni Moda SC", serif;
                font-size: 18px;
                font-weight: 500;
                text-align: center;

            }
        }

        .episode-container {
            width: 95%;
            height: 250px;
            margin: 1.5rem auto;
            border: 3px dashed rgb(185, 181, 181);
            display: flex;
            justify-content: space-between;
            padding: 2rem;

            .episode-info {
                width: 20%;
                display: flex;
                flex-direction: column;
                align-items: center;

                a {
                    width: 120px;
                    font-family: "Bodoni Moda SC", serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;
                    color: white;
                    background-color: grey;
                    border-radius: 20px;
                    text-decoration: none;
                    margin-bottom: 4rem;

                    &:hover {
                        text-decoration: none;
                        color: white;
                    }
                }

                .episode-icon {
                    width: 80px;
                    height: 80px;
                    border-radius: 50%;
                    border: 4px groove #9c9998;
                    margin-bottom: 2rem;
                }

                p {
                    font-family: "Bodoni Moda SC", serif;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: center;

                }
            }

            .episode-content {
                width: 79%;
                height: 100%;
                border: 5px groove #9c9998;
                padding: 1.5rem;
                border-radius: 10px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                gap: 1.5rem;

                overflow-y: scroll;
                scrollbar-width: none;

                /* Firefox */
                &::-webkit-scrollbar {
                    display: none;
                }

                p {
                    font-family: "Bodoni Moda SC", serif;
                    font-size: 16px;
                    font-weight: 500;
                    text-align: center;
                }

                div {
                    padding: 0 2rem;
                    width: 100%;
                    display: flex;
                    justify-content: end;

                    a {
                        font-family: "Bodoni Moda SC", serif;
                        font-size: 12px;
                        font-weight: 600;
                        text-align: center;
                        color: grey;
                        text-decoration: none;

                        &:hover {
                            color: black;
                            text-decoration: none;
                        }
                    }
                }
            }
        }
    }

    .info-container {
        width: 25%;
        border: 2px solid black;
        padding: 0 1rem;

        h3 {
            font-family: "Bodoni Moda SC", serif;
            font-size: 20px;
            font-weight: 600;
            text-align: center;
        }

        label {
            font-family: "Bodoni Moda SC", serif;
            font-size: 15px;
            font-weight: 600;
            text-align: center;
        }

        #sort-info-age {
            display: flex;
            justify-content: center;

            .age-field {
                width: 100px;
                height: 25px;
                margin-right: 1rem;
                margin-left: 1rem;
                border: 3px outset rgb(180, 175, 175);
                border-radius: 15px;

                &:focus {
                    outline: none;
                }
            }
        }

        .gender {
            margin: 1rem 0;

            #gender {
                width: 100px;
                height: 25px;
                border: 3px outset rgb(180, 175, 175);
                border-radius: 15px;
                display: block;
                margin: auto;
                text-align: center;
                font-family: "Bodoni Moda SC", serif;

                option:first-child {
                    display: none;
                }
            }
        }

        #order,
        #sort {
            width: 100px;
            height: 25px;
            border: 3px outset rgb(180, 175, 175);
            border-radius: 15px;
            display: block;
            margin: auto;
            text-align: center;
            font-family: "Bodoni Moda SC", serif;

            option:first-child {
                display: none;
            }
        }

        input[type=submit] {
            display: block;
            margin: 3rem auto 1rem auto;
            width: 80px;
            height: 25px;
            border: 2px outset rgb(180, 175, 175);
            border-radius: 20px;
            background-color: grey;
            color: white;
        }

    }
}

/* ここから下には画面幅が900px以下の状態で表示する内容を定義する */
@media(max-width: 900px) {
    .view-episode-container {
        padding: .6rem;
        display: flex; //column-reverseを指定することで要素を逆並びに変更できる
        flex-direction: column-reverse;
        align-items: center;

        .episodes-container {
            width: 100%;
            border: 3px outset rgba(100, 96, 96, 0.897);
            background-color: #e2dbd6;
            border-radius: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .episode-container {
                padding: 1rem;
    
                .episode-info {
                    a {
                        width: 75px;
                        font-size: 10px;
                        border-radius: 15px;
                        text-decoration: none;
                        margin-bottom: 1rem;
                    }
    
                    .episode-icon {
                        width: 60px;
                        height: 60px;
                        margin-bottom: 1rem;
                    }
    
                    p {
                        font-size: 12px;
                    }
                }
    
                .episode-content {
                    p {
                        font-size: 13px;
                    }
                }
                
            }
        }

        .info-container {
            width: 80%;
            margin: 1.5rem auto;

            h3 {
                font-size: 17px;
                font-weight: 600;
            }

            label {
                font-size: 14px;
                font-weight: 600;
            }

            #sort-info-age {
                display: flex;
                justify-content: center;

                .age-field {
                    width: 100px;
                    height: 25px;
                    margin-right: 1rem;
                    margin-left: 1rem;
                    border: 3px outset rgb(180, 175, 175);
                    border-radius: 15px;

                    &:focus {
                        outline: none;
                    }
                }
            }

            .gender {
                margin: 0;
            }
        }
    }
}


/* フォローボタン関連のスタイル */
#follow_form {
    input {
        display: block;
        margin: 3rem auto 0 auto;
        width: 80%;
        height: 50px;
        font-family: "Bodoni Moda SC", serif;
        font-weight: 400;
        font-size: 18px;
    }
}